#Ignore macos filesystem files
.DS_Store

#Ignore support files
/vendor

#Ignore compiled Binary
GrpcServer

#Ingore database
*.db

#Ignore composer installation files
composer.phar
composer.json
composer.lock